# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: floormarkets-indexer
description: Floor Markets DeFi Platform Indexer
unordered_multichain_mode: true
preload_handlers: true
field_selection:
  transaction_fields:
    - 'hash'
    - 'from'
contracts:
  - name: FloorFactory
    abi_file_path: abis/FloorFactory_v1.json
    handler: src/index.ts
    events:
      - event: FloorFactoryInitialized
  - name: ModuleFactory
    abi_file_path: abis/ModuleFactory_v1.json
    handler: src/index.ts
    events:
      - event: ModuleCreated
      - event: MetadataRegistered
      - event: GovernorSet
      - event: Initialized
      - event: OwnershipTransferStarted
      - event: OwnershipTransferred

  - name: FloorMarket
    abi_file_path: abis/Floor_v1.json
    handler: src/index.ts
    events:
      - event: TokensBought
      - event: TokensSold
      - event: FloorPriceUpdated
      - event: VirtualCollateralAmountAdded
      - event: VirtualCollateralAmountSubtracted
      - event: VirtualCollateralSupplySet
      - event: FloorIncreased
      - event: BuyingEnabled
      - event: BuyingDisabled
      - event: SellingEnabled
      - event: SellingDisabled
      - event: BuyFeeUpdated
      - event: SellFeeUpdated
      - event: CollateralDeposited
      - event: CollateralWithdrawn
      - event: CollateralTokenSet
      - event: IssuanceTokenSet
      - event: SegmentsSet
      - event: ModuleInitialized

  - name: CreditFacility
    abi_file_path: abis/CreditFacility_v1.json
    handler: src/index.ts
    events:
      - event: LoanCreated
      - event: LoanRebalanced
      - event: LoanRepaid
      - event: LoanClosed
      - event: LoanTransferred
      - event: LoansConsolidated
      - event: LoanToValueRatioUpdated
      - event: BorrowingFeeRateUpdated
      - event: MaxLeverageUpdated
      - event: DynamicFeeCalculatorUpdated
      - event: IssuanceTokensLocked
      - event: IssuanceTokensUnlocked
      - event: ModuleInitialized

  - name: SplitterTreasury
    abi_file_path: abis/SplitterTreasury_v1.json
    handler: src/index.ts
    events:
      - event: FloorFeePaid
      - event: FloorFeePercentageUpdated
      - event: FloorFeeTreasuryUpdated
      - event: RecipientPayment
      - event: RecipientAdded
      - event: RecipientsCleared
      - event: Treasury_FundsReceived
      - event: ModuleInitialized

  - name: Presale
    abi_file_path: abis/Presale_v1.json
    handler: src/index.ts
    events:
      - event: BaseCommissionUpdated
      - event: CapsUpdated
      - event: CreditFacilitySet
      - event: DirectTokensClaimed
      - event: EndTimestampSet
      - event: Initialized
      - event: ModuleInitialized
      - event: PositionCreated
      - event: PresaleBought
      - event: PresaleStateSet
      - event: PriceBreakpointsSet
      - event: TrancheClaimed
      - event: WhitelistUpdated

  - name: Authorizer
    abi_file_path: abis/AUT_Roles_v2.json
    handler: src/index.ts
    events:
      - event: RoleCreated
      - event: RoleLabeled
      - event: RoleAdminChanged
      - event: AccessPermissionAdded
      - event: AccessPermissionRemoved
      - event: RoleGranted
      - event: RoleRevoked
      - event: RoleAdminBurned

networks:
  - id: 31337 # Local Anvil
    start_block: 1
    rpc_config:
      url: https://foundry-production-f209.up.railway.app
    contracts:
      - name: FloorFactory
        address: '0x6b2b4489b8aa714f4b3da78679fe3f7b468f8653'
      - name: ModuleFactory
        address: '0x5Cba12E1Df0258Ea8e0c76ffd5E48B5D79C3F3C4'
      - name: FloorMarket
        address:
      - name: CreditFacility
        address:
      - name: SplitterTreasury
        address:
      - name: Presale
        address:
      - name: Authorizer
        address:
